CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=analytics
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=admin

ZENLABS_BASE_URL=https://zenarate-web-prod.fly.dev
ZENLABS_TOKEN=ccbd85c437e16daadf85c51b0490c1d5448067576b7ef6f28ec19319189b514d 18
TENANT_ID=wks_taj_group
DEFAULT_PROPERTY_ID=thv_goa
ZENLABS_EMAIL=qureshirashika@gmail.com
ZENLABS_PASSWORD=3#LRUPkmNzAjXb

POLL_INTERVAL_SECONDS=300


